.trailer_img_min {
    border-radius: 10px;
    width: 342px;
    height: 245px;
    object-fit: cover;
    flex-shrink: 0;
}

.trailer_img_item_min {
    cursor: pointer;
    display: flex;
    position: relative;
    width: 342px;
}

.trailer_img_play_min {
    position: absolute;
    width: 35px;
    height: 31px;
    top: 50%;
    left: 50%;
    transition: 0.3s;
}

.trailer_img_play_min:hover {
    opacity: .6;
}

.mini_f_name {
    color: #FFF;
    font-size: 18px;
    font-weight: 900;
    margin-top: 5px;
}