#b_vhod {
    width: 138px;
    height: 53px;
    border-radius: 10px;
    background: #3657CB;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.80);
    flex-shrink: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}