#but_ylw {
    width: 422px;
    height: 55px;
    border-radius: 10px;
    background: #F2F60F;
    border: none;
    color: #151A26;
    font-size: 17px;
    font-weight: 600;
    line-height: 166.5%; 
}