* {
    margin: 0;
    padding: 0;
}

body {
    background: #1E2538;
    font-family: 'Montserrat';
    margin: 0 10% 0 10%;
    padding: 0;
}

.all_card {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill,minmax(340px, 1fr));
   


}