* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1E2538;
    font-family: 'Montserrat';
    margin: 0 10% 0 10%;
    padding: 0;
}

.all_card {
    display: grid;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.btn_all_film {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.TT_app{
    margin-top: 50px;
}

.movies_app{
    margin-top: 80px;
}

.moviesmin {
    display: flex;
    justify-content: space-between;
    width: 1430px;
    margin: 20px auto 0 auto;;
}